<html>
  <head>
    {% include "bootstrap.html" %}
    {% load static %}
  </head>
  <body>
    {% include "navigation.html" %}
    <h1>
    </h1>
    <img src="{%static 'image0.jpeg' %}" width = "300" height = "200" />
    <p>
      About me:
    </p>
    <p>
      I am a Computer Science major with a minor in Mathematics at California State University Chico. I am also a member of the fraternity Delta Chi.
      I play for the Chico State Hockey team as well. I enjoy playing golf and other sports. My favorite activity to do outside is play Beer Dye.
    </p>
    <p>This website is a NHL sports team calculator that allows you to enter any teams
       data from a season into the site to then give you insite on how they preformed.
    </p>
    <p>
      The Team Record tab allows you to:
    </p>
    <ol>
      <li>Insert every game the team played in a season</li>
      <li>Each game entry consists of the opposing teams name and if your team won or lost the game</li>
      <li>At the bottom of all the entries it tells you how many games were played</li>
      <li>It also tells you if the team had a winning or lossing record and the corresponding game record</li>
    </ol>
    <p>
      The Team Stats tab allows you to:
    </p>
    <ol>
      <li>Insert any players name, their position, how many points they scored and the predicted points scored for that player</li>
      <li>At the bottom it tells you the total number of points scored by all of the players</li>
      <li>It then tells you if the total points scored exceeded the predicted value or not for all of the players</li>
      <li>It also tells you who scored the most points out of all the players entered</li>
  </body>
</html>
