<!DOCTYPE html>
<html land="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <script src="{%static 'common.js' %}" /></script>
  </head>
  <body>
    {% include "bootstrap.html" %}
    {% include "navigation.html" %}
    <h2 class="page_header"> Hockey Calculator </h2>
    <img src="{%static 'hockey.jpg' %}" width = "300" height = "200" />
    <p>
    </p>
    <div class="row">
      <div class="col-lg-4">
        <div class="container-fluid">
          <div class="jumbotron bg-dark text-white">
            <div align="center">
              <h2>Record</h2>
              <p>Click bellow to see all of the games your team has played</p>
              <a class="btn btn-primary" href='/tasks/'>Team Games</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="container-fluid">
          <div class="jumbotron bg-dark text-white">
            <div align="center">
              <h2>Stats</h2>
              <p>Click bellow to see all of your teams player Statistics</p>
              <a class="btn btn-primary" href='/budget/'>Team Stats</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
